.container {
   padding: 20px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
}

li {
   float: left;
}

li a {
   display: block;
   color: #666;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
}

li a:hover:not(.active) {
   background-color: #ddd;
}
